<style>
div {
    float: left;
    position: relative;
}
<--
div img {
    position: relative;
}
-->
div div {
    position: absolute;
    top:0;
    left:0;
}
</style>

<div>
    <img src="http://antwrp.gsfc.nasa.gov/apod/image/0903/omegacen_davis.jpg" position: "relative"/>
    <div>Hi there</div>
</div>